<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
 
 <test name="test1">
  <classes>
<class name="com.atmecs.qa.testscripts.TestServicePage"></class>
 </classes>
</test>

 <test name="test2">
 <classes>
<class name="com.atmecs.qa.testscripts.TestDigitalLifePage"></class>
 </classes>
</test>

<test name="test3">
 <classes>
<class name="com.atmecs.qa.testscripts.TestCloudServicesPage"></class>
 </classes>
</test>

<test name="test4">
 <classes>
<class name="com.atmecs.qa.testscripts.TestEnterpriseAnalyticsPage"></class>
 </classes>
</test>

<test name="test5">
 <classes>
<class name="com.atmecs.qa.testscripts.TestMobileComputingPage"></class>
 </classes>
</test>  

<test name="test6">
 <classes>
<class name="com.atmecs.qa.testscripts.TestProductEngineeringPage"></class>
 </classes>
</test>

<test name="test7">
 <classes>
<class name="com.atmecs.qa.testscripts.TestQualityEngineeringPage"></class>
 </classes>
</test>

<test name="test8">
 <classes>
<class name="com.atmecs.qa.testscripts.TestInfrastructureServicesPage"></class>
 </classes>
</test>
</suite> 
